{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macros %}

{% block title %}Forecast{% endblock %}

{% block body %}
    <div class="col-4 container-fluid">
        {{ macros.displayFlashes('errors') }}
        <h3 class='text-center'>Get Weather Forecast</h3>
            {{ form_start(form) }}
            {{ form_row(form.country) }}
            {{ form_row(form.city) }}
            <div class='text-center'>
                <button class="btn btn-primary mt-3 col-4">{{ button_label|default('Submit') }}</button>
            </div>
            {{ form_end(form) }}
    </div>
{% endblock %}
