{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macros %}

{% block title %}Forecast{% endblock %}

{% block body %}
    <div class="col-4 container-fluid">
        {{ macros.displayFlashes('errors') }}
        <h3 class='text-center'>Get Weather Forecast</h3>
            {{ form_start(form) }}
            {{ form_row(form.country) }}
            {{ form_row(form.city) }}
            <div class='text-center'>
                <button class="btn btn-primary mt-3 col-4">{{ button_label|default('Submit') }}</button>
            </div>
            {{ form_end(form) }}
    </div>
    {% if location and forecastTemperature %}
        <div class="col-4 container-fluid mt-4">
            <h4>Results:</h4>
            <p>Input location: <b>{{ location.country }} - {{ location.city }}</b></p>
            <p>Determined location: LAT: <b>{{ location.latitude }}</b> LONG: <b>{{ location.longitude }}</b></p>
            <p>Weather forecast : <b>{{ location.temperature }} &#8451;</b></p>
        </div>
    {% endif %}
{% endblock %}
